<header class="d-flex justify-content-between align-items-center px-3 py-8">
  <div class="headerLeft d-flex align-items-center">
    <h2>Assignment</h2>
    <div class="dropdown">
      <button
        class="btn btn-white dropdown-toggle btnCustom"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        All Courses
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">HTML&CSS</a></li>
      </ul>
    </div>
  </div>
  <div class="headerRight d-flex align-items-end">
    <a href="#"><span class="material-icons-outlined me-6"> search </span></a>
    <a href="#"><span class="material-icons"> notifications_active </span></a>
  </div>
</header>
